:root {
   color-scheme: light dark;
}


/* Base styles */

details.tooltip {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #333333;
}

details.tooltip summary {
  font-weight: bold;
  cursor: pointer;
}

/* change code blocks to white within the
tooltips. !important is necessary to make this
work */
details.tooltip pre {
   background-color: #ffffff !important;
}

/* when in dark mode use dark code bg and
and white text in general */

html.dark details.tooltip pre {
  background-color: revert !important;
}

html.dark details.tooltip {
  color: #ffffff;
}

/* spacing for badges */
details.tooltip summary::before {
  margin-right: 3pt;
}



/*Deep Dives*/

details.deep-dive {
  background-color: #fff8dc;
  border: 1px solid #8c5600;
}

details.deep-dive summary {
  color: #8c5600;
}

/* Automatically injects the book */
details.deep-dive summary::before {
  content: "📙";
}

/* dark mode */
html.dark details.deep-dive {
  background-color: #8c5600;
  border: 1px solid #fff8dc;
}

html.dark details.deep-dive summary {
  color: #fff8dc;
}

/*Exercises*/

details.exercise {
  background-color: #defac5;
  border: 1px solid #266427;
}

details.exercise summary {
  color: #266427;
}

/* Automatically injects the sprout--I had a hand before but it wasn't green :'( */
details.exercise summary::before {
  content: "🌿";
}

html.dark details.exercise {
   background-color: #266427;
   border: 1px solid #defac5;
}

html.dark details.exercise summary {
   color: #defac5;
}


/*TypeScript Tips*/

details.ts-tips {
  background-color: #f0f8ff;
  border: 1px solid #1E589F;
}

details.ts-tips summary {
  color: #1E589F;
}

/* Automatically injects the typescript badge */
details.ts-tips summary::before {
  content: "ₜₛ";
  background-color: #3178C6;
  color: #ffffff;
  padding-left: 5px;
  padding-right: 1px;
}

html.dark details.ts-tips {
  background-color: #1E589F;
  border: 1px solid #f0f8ff;
}

html.dark details.ts-tips summary {
  color: #f0f8ff;
}

/*Links to 110 Content */

details.link-110 {
  background-color: #f8edff;
  border: 1px solid #620999;
}

details.link-110 summary {
  color: #620999;
}

/* Automatically injects the Lambda badge */
details.link-110 summary::before {
  content: "λ";
  background-color: #9C4ACF;
  color: #ffffff;
  padding-left: 3px;
  padding-right: 2px;
}

html.dark details.link-110 {
   background-color: #620999;
   border: 1px solid #f8edff;
}

html.dark details.link-110 summary {
   color: #f8edff;
}
